/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid: "header" auto "main" 1fr / 1fr;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.25em;
    margin-bottom: 0.1666666em;
    font-weight: normal;
}

h3, h4, h5 {
    font-size: 1.4rem;
    line-height: 1.25em;
    margin-bottom: 0.21428571428em;
}

a {
    text-decoration: none;
    color: #111;
}

/* Mobile First - Portrait */
body > header {
    padding: 0 0.8em;
    background: #1a599c;
    color: #fff;
    grid-area: header;
    display:grid;
    grid: 1fr / max-content 1fr repeat(2, max-content);
    column-gap: 1.2em;
    align-items: center;
    padding: 1em;
}

body > header > a {
    width: 3.2rem;
    height: 3.2rem;
}

.search-videos-icon,
.settings-icon {
    padding-left: 0.4em;
    width: 2.8rem;
}

main {
    display: grid;
    grid: "video-thumbnail" max-content "video-details" max-content "related-videos" max-content "video-comments" max-content / 1fr;
}

.video-thumbnail {
    grid-area: video-thumbnail;
}

.video-thumbnail > img {
    width: 100%;
    height: 100%;
}

.video-details {
    grid-area: video-details;
    padding-top: 1.2em;
}

.video-details > header {
    padding: 0 1.2em;
}

.video-details__views-count {
    font-size: 1.2rem;
    color: rgba(17, 17, 17, 0.6);
}

.cta-container {
    padding: 1.2em 0;
    display: grid;
    grid: 1fr / repeat(5, 1fr);
}

.cta-item {
    color: rgba(17, 17, 17, 0.6);
    display: grid;
    row-gap: 0.7em;
    place-items: center;
}

.cta-item.active {
    color: #1a599c;
}

.cta-item > img {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

.cta-item > p {
    font-size: 1.2rem;
}

.channel-details {
    padding: 1.2em;
    border-top: 1px solid rgba(136, 136, 136, 0.4);
    border-bottom: 1px solid rgba(136, 136, 136, 0.4);
    display: grid;
    grid: 1fr / 1fr max-content;
    column-gap: 0.7em;
    align-items: center;
}

.channel-details > a {
    display: grid;
    grid: 1fr / max-content 1fr;
    column-gap: 0.7em;
    align-items: center;
}

.channel-details > a:active {
    outline: none;
}

.channel-details img {
    width: 3.4rem;
    height: 3.4rem;
}

.channel-subscriber-count {
    color: rgba(17, 17, 17, 0.6);
    font-size: 1.2rem;
}

.channel-details button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    color: #1a599c;
    text-transform: uppercase;
    cursor: pointer;
}

.channel-details button:focus {
    border: 1px solid black;
}

.channel-details button > img {
    height: 1.6rem;
}

.related-videos {
    grid-area: related-videos;
}

.related-videos > header {
    padding: 1.14285714286em 0.85714285714em;
    font-size: 1.4rem;
    display: grid;
    grid: 1fr / 1fr repeat(2, max-content);
    column-gap: 0.5em;
    align-items: center;
}

.related-videos > header button {
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
}

.autoplay-slider {
    display: block;
    width: 3.7rem;
    border: 7px solid rgba(26,89,156, 0.38);
    border-radius: 7px;
}

.autoplay-slider-toggle-button {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -3px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.related-videos > ul {
    padding: 0 1.2em;
}

.related-videos > ul > li {
    margin-bottom: 1.2em;
    list-style: none;
}

.related-videos > ul > li:last-of-type {
    margin-bottom: 0;
}

.related-videos > ul > li article {
    min-height: 9rem;
    max-height: 9rem;
    overflow-y: hidden;
    display: grid;
    grid: repeat(2, max-content) 1fr/ repeat(2, 1fr);
    column-gap: 0.8em;
}

.related-videos > ul > li img {
    height: 100%;
    width: 100%;
    grid-row: span 3;
}

.related-videos > ul > li h4 {
    max-height: 3.75em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-videos > ul > li p {
    font-size: 1.2rem;
    color: rgba(17, 17, 17, 0.6);
}

.video-comments {
    grid-area: video-comments;
    padding: 1.2em;
    border-top: 1px solid rgba(136, 136, 136, 0.4);
    margin-top: 1.2em;
}

.video-comments > header {
    display: grid;
    grid: 1fr / 1fr max-content;
    align-items: center;
    
}

.comment-downtick, 
.comment-uptick {
	width: 2.8rem;
}

.comment-uptick,
.comment-list-container {
    display: none;
}

.comment-form {
    display: grid;
    grid: 1fr / max-content 1fr;
    column-gap: 0.8em;
    border-bottom: 1px solid rgba(136, 136, 136, 0.4);
    margin-top: 1.6em;
    padding: 1.2em 0;
}

.comment-form > img,
.comment > img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.comment-form textarea {
    font-size: 1.4rem;
    padding: 0.5em;
    border: 1px solid rgba(135, 135, 135, 0.4);
    outline: none;
    resize: vertical;
    color: #111;
}

.comment-form textarea::placeholder {
    color: rgba(135, 135, 135, 0.9);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.comment {
    font-size: 1.1rem;
    padding: 1em;
    color: rgba(17,17,17, 0.6);
    border-bottom: 1px solid rgba(135, 135, 135, 0.4);
    display: grid;
    grid: repeat(3, max-content) / 4.8rem 1fr;
    column-gap: 0.72727272727em;
}

.comment:last-of-type {
    border-bottom: none;
}

.comment > img {
    grid-row: span 3;
}

.comment > a {
    font-size: 1.4rem;
    color: #1a599c;
}

.my-comment > a > span {
    background: #1a599c;
    color: #fff;
    border-radius: 50px;
    padding: 2px 6px;
    display: inline-block;
}

.comment > p {
    color: #000;
    font-size: 1.3rem;
    margin: 0.33em 0;
}

.comment-status-separator {
    font-size: 2rem;
    line-height: 1.1rem;
}

.comment-statistics {
    display: grid;
    grid: 1fr / repeat(5, max-content);
    column-gap: 4px;
    align-items: center;
}

.comment-statistics > img {
    margin-left: 8px;
    width: 11px;
    height: 10px;
}

.see-response-container,
.hide-response-container {
    display: grid;
    grid: 1fr / 1fr;
    place-items: center;
}

.see-response-container,
.hide-response-container,
.response-list {
    grid-column: span 2;
}

.see-response-container > button,
.hide-response-container > button {
    outline: none;
    border: none;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.4rem;
    color: #1a599c;
    padding: 0.71428571428em 0.57142857142em;
}

.response-list,
.hide-response-container {
    display: none;
}

.response-list {
    margin-top: 1.36363636364em;
}

.response {
    margin-bottom: 1.36363636364em;
    padding: 0 5em;
    border-bottom: 0;
    grid-template-columns: 2.6rem 1fr;
}

.response > img {
    width: 2.6rem;
    height: 2.6rem;
}

/* Mobile - Landscape */
@media (min-width: 550px) {
    main {
        grid-template-areas: 
            "video-thumbnail"
            "video-details"
            "video-comments"
            "related-videos";
    }

    .video-comments {
        margin-top: 0;
        border-top: none;
        border-bottom: 1px solid rgba(136, 136, 136, 0.4)
    }

    .related-videos > ul {
        padding: 0 1.2em;
        display: grid;
        grid: auto-flow max-content / repeat(2, 1fr);
        gap: 1.2em;
        margin-bottom: 2.4em;
    }

    .related-videos > ul > li {
        margin-bottom: 0;
    }

    .related-videos > ul > li article {
        min-height: inherit;
        max-height: inherit;
        display: block;
    }

    .related-videos > ul > li img {
        height: 26.6vw;
        min-height: 14.1rem;
        max-height: 20.2rem;
    }

    .related-video-details h4 {
        padding-top: 0.28571428571em;
    }
}

/* Tablet - Portrait */
@media (min-width: 600px) {
    .related-videos > ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .related-videos > ul > li img {
        height: 17.5vw;
        min-height: 13.1rem;
        max-height: inherit;
    }
}